<footer class="bottom">
    <div class="container bottom-container">
        <div class="bottom-info">
            <div class="bottom-logo">
                <a class="logo-footer" href="index.html">
                    <svg class="logo_mobile" width="168" height="16">
                        <use href="img/sprite.svg#logo_mobile"></use>
                    </svg>
                </a>
                <p class="bottom-text">
                    Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.
                </p>
            </div>
            <div class="bottom-nav-contact">
                <ul class="bottom-nav-list">
                    <li><a href="#how-it-works" class="bottom-nav">how it works</a></li>
                    <li><a href="#vegetables" class="bottom-nav">vegetables</a></li>
                    <li><a href="#reviews" class="bottom-nav">reviews</a></li>
                </ul>
                <address>
                    <ul class="bottom-contacts">
                        <li><a href="tel:+380684439426" class="bottom-tel">+380 (68) 443-94-26</a></li>
                        <li><a href="https://maps.app.goo.gl/WVzUap8bi9bBYJq88" class="bottom-adr" target="_blank">1678 S. Pioneer Road Salt Lake City UT 84104</a></li>
                    </ul>
                </address>
            </div>
        </div>
        <div class="bottom-line">
            <ul class="bottom-line-legal">
                <li> <a class="bottom-legal bottom-slash" href="" target="_blank">Privacy Policy</a></li>
                <li> <a class="bottom-legal" href="" target="_blank">Cookie settings</a></li>
            </ul>
            <p class="trade-mark">©Green Harvest 2023</p>
        </div>
    </div>
</footer>