<!-- How it works Section -->
<section class="howitworks" id="how-it-works">
  <h2 class="visually-hidden">How it works</h2>
  <div class="hiw-left-container">
    <div class="hiw-lwrap">
      <picture class="hiw-picture">
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/how-it-works/hiw-desc-1.webp 1x,
            /img/how-it-works/hiw-desc-2.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/how-it-works/hiw-tab-1.webp 1x,
            /img/how-it-works/hiw-tab-2.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/how-it-works/hiw-mob-1.webp 1x,
            /img/how-it-works/hiw-mob-2.webp 2x
          "
        />
        <img
          class="hiw-bckp-picture"
          src="/img/how-it-works/hiw-tab-1.webp"
          alt="Woman in the kitchen cutting vegetables"
        />
      </picture>
    </div>
  </div>
  <div class="hiw-right-container">
    <div class="hiw-rwrap">
      <h3 class="hiw-header">
        To order your <span class="hiw-hspan">vegetable</span> basket, simply
        follow these <span class="hiw-hspan">easy steps</span>
      </h3>
      <p class="hiw-description">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="hiw-list">
        <li class="hiw-list-item">
          <p class="hiw-list-text">
            Just choose <span class="hiw-tspan">the vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="hiw-tspan">next to it</span>.
          </p>
        </li>
        <li class="hiw-list-item">
          <p class="hiw-list-text">
            Click on <span class="hiw-tspan">the basket</span> and fill out the
            form.
          </p>
        </li>
        <li class="hiw-list-item">
          <p class="hiw-list-text">
            Sit back and relax! Your
            <span class="hiw-tspan">fresh vegetables</span> basket will be
            delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
