<section class="vegetables" id="vegetables">
    <div class="container vegetables-container" >
<div class="vegetables-title-text">
        <h2 class="vegetables-title">organic <span class="span-vegetables">vegetables</span> </h2>
<p class="vegetables-text"> Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p> 
</div>
<ul class="vegetables-list">
    <li class="vegetables-item">
      <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <div class="vegetables-card">
      <h3 class="card-title">eggplant</h3>
      <p class="card-text">60 USD / kg</p>
      </div>
        <picture>
        <source media="(min-width: 1280px)" srcset="/img/vegetables/carrot-comp-1-min.png 1x, /img/vegetables/carrot-comp-1@2x-min.png 2x"/>
<source media="(min-width: 768px)" srcset="/img/vegetables/carrot-tab-1-min.png 1x, /img/vegetables/carrot-tab-1@2x-min.png 2x"/>
<source media="(max-width: 767px)" srcset="/img/vegetables/carrot-mob-1-min.png 1x, /img/vegetables/carrot-mob-1@2x-min.png 2x"/>
<img class="vegetables-photo" src="/img/vegetables/carrot-comp-1-min.png" alt="eggplant" width="280" height="244"/>   
      </picture>
      </div>
    <div class="flip-card-back">
      <h3 class="flip-card-text">Bon appetit!</h3>
    </div>
  </div>
</div>
        </li>

        <li class="vegetables-item">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <div class="vegetables-card">
      <h3 class="card-title">leek</h3>
      <p class="card-text">50 USD / kg</p>
      </div>
        <picture>
        <source media="(min-width: 1280px)" srcset="/img/vegetables/carrot-comp-2-min.png 1x, /img/vegetables/carrot-comp-2@2x-min.png 2x"/>
<source media="(min-width: 768px)" srcset="/img/vegetables/carrot-tab-2-min.png 1x, /img/vegetables/carrot-tab-2@2x-min.png 2x"/>
<source media="(max-width: 767px)" srcset="/img/vegetables/carrot-mob-2-min.png 1x, /img/vegetables/carrot-mob-2@2x-min.png 2x"/>
<img class="vegetables-photo" src="/img/vegetables/carrot-comp-2-min.png" alt="leek" width="280" height="244"/>   
      </picture>
      </div>
    <div class="flip-card-back">
      <h3 class="flip-card-text">Guten appetit!</h3>
    </div>
  </div>
</div>
        </li>

         <li class="vegetables-item">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <div class="vegetables-card">
      <h3 class="card-title">mushrooms</h3>
      <p class="card-text">40 USD / kg</p>
      </div>
        <picture>
        <source media="(min-width: 1280px)" srcset="/img/vegetables/carrot-comp-3-min.png 1x, /img/vegetables/carrot-comp-3@2x-min.png 2x"/>
<source media="(min-width: 768px)" srcset="/img/vegetables/carrot-tab-3-min.png 1x, /img/vegetables/carrot-tab-3@2x-min.png 2x"/>
<source media="(max-width: 767px)" srcset="/img/vegetables/carrot-mob-3-min.png 1x, /img/vegetables/carrot-mob-3@2x-min.png 2x"/>
<img class="vegetables-photo" src="/img/vegetables/carrot-comp-3-min.png" alt="mushrooms" width="280" height="244"/>   
      </picture>
      </div>
    <div class="flip-card-back">
      <h3 class="flip-card-text">Buon appetito!</h3>
    </div>
  </div>
</div>
        </li>

          <li class="vegetables-item">
            <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <div class="vegetables-card">
      <h3 class="card-title">corn</h3>
      <p class="card-text">60 USD / kg</p>
      </div>
        <picture>
        <source media="(min-width: 1280px)" srcset="/img/vegetables/carrot-comp-4-min.png 1x, /img/vegetables/carrot-comp-4@2x-min.png 2x"/>
<source media="(min-width: 768px)" srcset="/img/vegetables/carrot-tab-4-min.png 1x, /img/vegetables/carrot-tab-4@2x-min.png 2x"/>
<source media="(max-width: 767px)" srcset="/img/vegetables/carrot-mob-4-min.png 1x, /img/vegetables/carrot-mob-4@2x-min.png 2x"/>
<img class="vegetables-photo" src="/img/vegetables/carrot-comp-4-min.png" alt="corn" width="280" height="244"/>   
      </picture>
      </div>
    <div class="flip-card-back">
      <h3 class="flip-card-text">Smacznego!</h3>
    </div>
  </div>
</div>
        </li>

         <li class="vegetables-item">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <div class="vegetables-card">
      <h3 class="card-title">sweet potatoes</h3>
      <p class="card-text">50 USD / kg</p>
      </div>
        <picture>
        <source media="(min-width: 1280px)" srcset="/img/vegetables/carrot-comp-5-min.png 1x, /img/vegetables/carrot-comp-5@2x-min.png 2x"/>
<source media="(min-width: 768px)" srcset="/img/vegetables/carrot-tab-5-min.png 1x, /img/vegetables/carrot-tab-5@2x-min.png 2x"/>
<source media="(max-width: 767px)" srcset="/img/vegetables/carrot-mob-5-min.png 1x, /img/vegetables/carrot-mob-5@2x-min.png 2x"/>
<img class="vegetables-photo" src="/img/vegetables/carrot-comp-5-min.png" alt="sweet-potatoes" width="280" height="244"/>   
      </picture>
      </div>
    <div class="flip-card-back">
      <h3 class="flip-card-text">Смачного!</h3>
    </div>
  </div>
</div>
        </li>

        <li class="vegetables-item">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <div class="vegetables-card">
      <h3 class="card-title">carrot</h3>
      <p class="card-text">40 USD / kg</p>
      </div>
        <picture>
        <source media="(min-width: 1280px)" srcset="/img/vegetables/carrot-comp-6-min.png 1x, /img/vegetables/carrot-comp-6@2x-min.png 2x"/>
<source media="(min-width: 768px)" srcset="/img/vegetables/carrot-tab-6-min.png 1x, /img/vegetables/carrot-tab-6@2x-min.png 2x"/>
<source media="(max-width: 767px)" srcset="/img/vegetables/carrot-mob-6-min.png 1x, /img/vegetables/carrot-mob-6@2x-min.png 2x"/>
<img class="vegetables-photo" src="/img/vegetables/carrot-comp-6-min.png" alt="carrot" width="280" height="244"/>   
      </picture>
      </div>
    <div class="flip-card-back">
      <h3 class="flip-card-text">Itadakimas!</h3>
    </div>
  </div>
</div>
        </li>
</ul>
</div>
</section>

