.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-adv {
  background-color: #fbfbfb;
  padding: 80px 0;
}

@media screen and (min-width: 768px) {
  .section-adv {
    padding: 100px 0;
  }
}

.sale-dscr {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.sale-accent {
  display: inline-block;
  background-color: #576f35;
  border-radius: 12px;
  color: #fbfbfb;
}

@media screen and (min-width:768px) {
  .sale-dscr {
    font-size: 64px;
    line-height: 1;
  }

  .sale-accent {
    padding-top: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width:1280px) {
  .sale-dscr {
      font-weight: 600;
      font-size: 76px;
      line-height: 100%;
      letter-spacing: -0.01em;
      text-transform: uppercase;
    }

    .sale-accent {
      background-color: #576f35;
      color: #fbfbfb;
      margin-left: -16px;
      padding: 4px 8px 0 16px;
    }
}