/* style reset */
.bottom-nav:visited,
bottom-tel:visited {
  color: #fbfbfb;
}

a,
address {
  font-style: inherit;
  color: inherit;
}

/* footer */

.bottom {
  background-color: #7a3145;
  padding-bottom: 40px;
  padding-top: 40px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #fbfbfb;
}

.bottom-logo {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.bottom-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}

.bottom-nav-contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bottom-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 228px;
}

.bottom-nav {


  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;


  transition: 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.bottom-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 179px;

  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
}

.bottom-tel, .bottom-adr {
  transition: 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.bottom-line {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #d4bfc4;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}

.bottom-line-legal {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.bottom-slash::after {
  content: '/';
  margin-left: 8px;
  margin-right: 8px;
}

.bottom-nav:hover,
.bottom-tel:hover,
.bottom-adr:hover {
   color: #D4BFC4;
}

.bottom-nav:focus,
.bottom-tel:focus,
.bottom-adr:focus {
   color: #D4BFC4;
   text-decoration: underline;
}


@media screen and (min-width: 768px) {
  .bottom {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  .bottom-container {
    gap: 100px;

    max-width: 100%;
  }

  .bottom-info {
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-logo {
    gap: 24px;
    width: 265px;
  }

  .logo_mobile {
    width: 216px;
    height: 20px;
  }

  .bottom-text {
    font-size: 16px;
    line-height: 125%;
  }

  .bottom-nav-contact {
    gap: 64px;
  }

  .bottom-nav {
    gap: 24px;
  }

  .bottom-contacts {
    gap: 24px;
    width: 215px;

    font-size: 16px;
    line-height: 125%;
  }

  .bottom-line {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    font-size: 16px;
    line-height: 125%;
  }
}

@media screen and (min-width: 1280px) {
  .bottom {
    padding-bottom: 52px;
    padding-top: 52px;
  }

  .bottom-container {
    gap: 124px;

    max-width: 1280px;
  }

  .bottom-info {
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-nav-contact {
    flex-direction: row;
    justify-content: space-between;
    gap: 121px;
  }

  .bottom-line {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  .bottom-legal:first-child::after {
    margin-left: 12px;
    margin-right: 12px;
  }
}
