.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 100px;
  color: white;
  z-index: 1000;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 216px;
  height: 20px;
  fill: white;
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-links {
  display: flex;
  gap: 8px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: normal;
  line-height: 125%;
  text-align: center;
  padding: 12px;
  min-width: max-content;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 1);
  transition: background 0.3s, color 0.3s;
}
.nav-links a:hover,
.nav-links a:focus {
  background-color: #d4bfc4;
  color: #7a3145;
}
.nav-links a:active {
  background-color: #fbfbfb;
  color: #7a3145;
}
.shop-button {
  background-color: #7a3145;
  padding: 16px 32px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.shop-button:hover,
.shop-button:focus {
  background-color: #d4bfc4;
  color: #7a3145;
}
.shop-button:active {
  background-color: #fbfbfb;
  color: #7a3145;
}
.mobile-menu {
  display: none;
}
.burger-btn {
  display: none;
}

@media (max-width: 1024px) {
  .header {
    height: 120px;
    padding: 32px;
    background-color: #576f35;
  }
  .burger-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .burger-btn svg {
    fill: none;
    stroke: white;
  }
  .shop-button {
    display: none;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: auto;
    padding: 15px;
  }
  .nav-links a {
    text-align: center;
    padding: 10px 15px;
    display: block;
  }
  .nav-active {
    display: flex;
  }
}
@media (max-width: 480px) {
  .header {
    height: 100px;
    padding: 32px;
  }
  .logo-img {
    width: 168px;
    height: 16px;
    fill: white;
  }
  .burger-btn {
    padding: 0;
  }
}

/* Основное мобильное меню */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%; /* Полная ширина на мобилках */
  height: 100%;
  background: #576f35;
  transition: right 0.4s ease-in-out;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-shadow: none;
}

/* Открытое меню */
.mobile-menu.is-open {
  right: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-close {
  position: absolute;
  top: 32px;
  right: 32px;
  background: none;
  border: none;
  cursor: pointer;
}
.modal-close-icon {
  fill: none;
  stroke: white;
}

/* Навигация */
.mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  width: 100%;
}

.mobile-nav-links a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #ffffff;
  background: transparent;
  border: 2px solid white;
  padding: 10px 18px;
  border-radius: 12px;
  transition: all 0.3s;
}

.mobile-nav-links a:hover {
  background-color: #fbfbfb;
  color: #7a3145;
  font-weight: 500;
}

/* Кнопка SHOP NOW */
.mobile-shop-button {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  background: #7a3145;
  color: white;
  font-size: 18px;
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.mobile-shop-button:hover {
  background: #642738;
}

/* --- ПЛАНШЕТНАЯ ВЕРСИЯ  --- */
@media (min-width: 480px) and (max-width: 1024px) {
  .mobile-menu {
    width: 320px;
  }
}

/* --- МОБИЛЬНАЯ ВЕРСИЯ  --- */
@media (max-width: 480px) {
  .mobile-menu {
    width: 100%;
  }
  .mobile-menu-close {
    padding: 0px;
  }
}
