.hero {
  background-color: #576f35;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-content {
  max-width: 335px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
}

.hero-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-transform: uppercase;
  margin-bottom: 20px;
}


.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}

@media screen and (max-width: 375px) {
  .hero-title {
    font-size: 45px;
  }
}

.hero-img {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 767px;
  height: 372px;
  background-image: url(/img/hero/img-mobile-1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  
}

@media screen and (min-resolution: 2x) {
    .hero-img {
        background-image: url(/img/hero/img-mobile-2x.webp);
    }
}

@media screen and (min-width: 768px) {


  .hero-content {
    max-width: 704px;
    padding-top: 120px;
    padding-bottom: 52px;
  }

  .hero-title {
    font-size: 76px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    width: 603px;
  }

  .hero-img {
    background-image: url(/img/hero/img-tablet-1x.webp);
    height: 536px;
  }

  @media screen and (min-resolution: 2x) {
      .hero-img {
          background-image: url(/img/hero/img-tablet-2x.webp);
      }
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    width: 100%;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;

  }

  .hero-container {
     padding-right: 36px;
     flex-basis: calc(1280px /2);
     margin-right: 0;

  }

  .hero-content {
    padding-top: 232px;
    padding-bottom: 52px;
 
  }

  .hero-title {
    margin-bottom: 128px;
  }

  .hero-text {
    width: 472px;
  }

  .hero-img {
    flex-basis: calc(1280px /2);
    margin-left: 0;
    height: 796px;
    background-image: url(/img/hero/img-desktop-1x.webp);
  }

  @media screen and (min-resolution: 2x) {
      .hero-img {
          background-image: url(/img/hero/img-desktop-2x.webp);
      }
  }
}
