.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* <!-- How it Works Mobile Section --> */

.howitworks {
  margin: 0 auto;
  max-width: 375px;
  display: flex;
  flex-wrap: wrap;
}

.hiw-left-container {
  padding: 40px 20px;
  flex-shrink: 1;
  background-color: #7a3145;
  object-fit: cover;
}

.hiw-lwrap {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  background: rgba(20, 20, 20, 0.2);
}

.hiw-right-container {
  padding: 80px 20px;
  flex-shrink: 1;
  background-color: #576f35;
}

.hiw-header {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.hiw-hspan {
  color: #d4bfc4;
}

.hiw-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #fbfbfb;
  margin-bottom: 40px;
}

/* CSS counter */

.hiw-list {
  counter-reset: hiw-step;
  /* padding-left: 0; */
}

.hiw-list li {
  counter-increment: hiw-step; /* Збільшуємо лічильник */
}

.hiw-list li::before {
  content: counter(hiw-step); /* Вставляємо номер */
  width: 52px;
  height: 52px;
  background-color: #7a3145;
  border-radius: 50%;
  border: 5px solid #d3bec4;
  flex-shrink: 0;
  color: #fbfbfb;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hiw-list-item {
  border-radius: 15px;
  padding: 12px 12px 12px 24px;
  width: 100%;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.hiw-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.hiw-list-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #858585;
}

.hiw-tspan {
  font-weight: 700;
  color: #141414;
}

/* <!-- How it Works Tablet Section --> */

@media screen and (min-width: 768px) {
  .howitworks {
    max-width: 768px;
  }

  .hiw-left-container {
    padding: 100px 64px;
  }

  .hiw-right-container {
    padding: 100px 164px;
  }

  .hiw-header {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .hiw-description {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
  }

  .hiw-list-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .hiw-list-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .howitworks {
    max-width: 1280px;
    flex-wrap: nowrap;
  }

  .hiw-left-container {
    flex-shrink: 0;
    padding: 100px;
  }

  .hiw-right-container {
    padding: 100px;
  }

  .hiw-description {
    margin-bottom: 104px;
  }
}
