.your-order {
  background-color: #576f35;
  padding-top: 80px;
  padding-bottom: 80px;
}

.order-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /* justify-content: center;
  text-align: center; */
}
.title-wrap {
  margin-bottom: 40px;
}
.order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  /* display: block; */
  width: 100%;
  text-align: start;
  margin-bottom: 16px;
}

.first-title-part {
  color: #d4bfc4;
}
.order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: #fbfbfb;
  /* margin-bottom: 40px; */
}
.modal {
  border-radius: 30px;
  width: 100%;

  min-height: 552px;
  background-color: #fbfbfb;
  padding: 40px 20px;
  margin-bottom: 20px;
  text-align: start;
}
.modal-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}

.second-title-part {
  color: #7a3145;
}

.third-title-part {
  color: #576f35;
}
.modal-input {
  width: 100%;
  height: 48px;
  border: 1px solid #858585;
  border-radius: 30px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500;
  font-size: 16px;
  color: #141414;
  outline: transparent;
}

.modal-input::placeholder {
  font-size: 14px;
}

.modal-input:valid {
  border-color: #3cbc81;
}
.modal-input:invalid {
  border-color: #7a3145;
}

.modal-input:hover,
.modal-input:focus {
  border-color: #e74a3b;
}
.modal-field {
  margin-bottom: 16px;
}

.modal-textarea {
  border: 1px solid #858585;
  border-radius: 15px;
  padding: 14px 20px 59px 16px;
  width: 100%;
  height: 92px;
  /* margin-bottom: 20px; */
  font-size: 16px;
  outline: transparent;
  resize: none;
}
.modal-textarea::-webkit-scrollbar {
  display: none;
}
.modal-field-textarea {
  margin-bottom: 20px;
}

.modal-textarea::placeholder {
  font-size: 14px;
}
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: #e74a3b;
}

.modal-btn {
  background-color: #7a3145;
  border-radius: 30px;
  border: none;
  /* padding: 16px 129px; */
  width: 100%;
  height: 52px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  display: block;

  text-align: center;
}

.soc-network {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: #7a3145;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.soc-network-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  color: #d4bfc4;
  margin-top: 20px;
  margin-bottom: 16px;
}
.soc-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
}

.soc-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.soc-link:hover,
.soc-link:focus-visible {
  color: #d4bfc4;
}

.soc-link::after {
  content: '/';
  padding-left: 8px;
  padding-right: 8px;
}

.link-youtube::after {
  display: none;
}

@media only screen and (min-width: 768px) {
  .order-container {
    max-width: 640px;
    padding: 0;
  }

  .order-title {
    max-width: 640px;
    text-align: left;
    font-size: 64px;
    margin-left: -32px;
  }
  .order-text {
    max-width: 640px;
    font-size: 16px;
    text-align: left;
    margin-left: -32px;
  }

  .modal {
    padding: 72px 100px;
    max-width: 640px;
    margin-bottom: 32px;
  }
  .modal-title {
    margin-bottom: 72px;
    font-size: 32px;
    text-align: start;
  }
  .soc-network {
    max-width: 640px;
    min-height: 528px;
    justify-content: center;
    text-align: center;
    padding: 52px;
    /* margin-bottom: 52px; */
  }

  .soc-network-text {
    text-align: start;
    margin-top: 52px;
  }
  .soc-link::after {
    content: '/';
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .order-title {
    max-width: 740px;
    font-size: 64px;
    margin-left: 0;
  }
  .order-text {
    min-width: 740px;
    margin-left: 0;
  }
  .modal {
    max-width: 524px;
    margin-right: 32px;
    padding: 52px 48px;
    max-height: 592px;
    margin-bottom: 0;
  }
  .modal-title {
    margin-bottom: 52px;
  }

  .soc-network {
    max-width: 524px;
    max-height: 592px;
    padding: 52px 48px;
    margin-bottom: 0;
  }

  .soc-network-text {
    margin-top: 80px;
  }
}
